header .header-container {
  margin-bottom: 20px;
  height: 200px;
  background-color: #090d1a;
  border-bottom: 1px solid #434652; }
  header .header-container .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px; }
    header .header-container .logo-container img {
      padding-top: 30px;
      height: 100px;
      width: auto; }
  header .header-container .nav-menu-auth {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    position: relative; }
