header {
  .header-container {
    height: 200px;
    background-color: #090d1a;
    .logo-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 30px;
      img {
        padding-top:30px;
        height:100px;
        width: auto;
      }
    }
    .nav-menu-auth {
      flex: 1;
      display: flex;
      justify-content: center;
      position: relative;
    }
  }
}
