.nav-search-box {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  position: relative;
  bottom: 2px; }
  .nav-search-box .nav-search-container {
    position: relative; }
    .nav-search-box .nav-search-container .search-input {
      height: 32px;
      width: 165px;
      background: #434652;
      border: none;
      border-radius: 5px;
      outline: none;
      padding-left: 10px;
      padding-right: 10px;
      color: white; }
    .nav-search-box .nav-search-container .search-button {
      height: 34px;
      position: absolute;
      right: -17px;
      border-radius: 3px;
      background-color: #434652;
      border: none; }
      .nav-search-box .nav-search-container .search-button .fa {
        color: rgba(255, 255, 255, 0.4); }
