.button-primary {
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-color: #7a85ad !important;
  text-align: center;
  color: white;
  height: 35px;
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 13px; }

.button-secondary {
  cursor: pointer;
  border-radius: 3px;
  background-color: #3ca0ff;
  border: 1px solid #3ca0ff;
  text-align: center;
  color: white;
  height: 35px;
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-size: 13px; }
