.chat-messages-container {
  height: 100%;
  padding-top: 40px;
  padding-bottom: 50px;
  box-sizing: border-box; }
  .chat-messages-container ul {
    overflow-y: scroll;
    max-height: 100%;
    height: 100%; }
  .chat-messages-container .chat-message-container {
    color: white;
    display: block;
    padding: 7px;
    border-bottom: 1px solid #434652; }
    .chat-messages-container .chat-message-container .chat-message-text {
      text-align: left; }
      .chat-messages-container .chat-message-container .chat-message-text span {
        display: block; }
