.chat-messages-container {
  height: 100%;
  padding-top: 40px;
  padding-bottom: 50px;
  box-sizing: border-box;
  ul {
    overflow-y: scroll;
    max-height: 100%;
  }
  .chat-message {
    color: white;
    display: block;
  }
}
