.chatbox_container {
  width:600px;
  height: 250px;
  position: relative;
  .chatbox-header {
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    height: 40px;
    width: 100%;
    background: #191d29;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    font-family: Roboto;
    color: white;
    h4 {
      font-size: 13px;
      font-weight: 500;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
}
