.chatbox_container {
  width: 600px;
  height: 250px;
  background: white;
  position: relative; }
  .chatbox_container .chatbox-header {
    position: absolute;
    box-sizing: border-box;
    top: 0px;
    height: 40px;
    width: 100%;
    background: #191d29;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 15px;
    font-family: Roboto;
    color: white; }
